alias ..="cd .."
alias ...="cd ../../"

alias ll="ls -al --color=auto"

alias lynx="lynx -cfg /d/tools/lynx/lynx.cfg -lss=/d/tools/lynx/lynx.lss"
alias mc="far ."

# Azure command line tools
alias az="az.cmd"

# Amazon command line tools
alias aws="aws.cmd"
